<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" :style="healthBarStyle(playerHealth)">
                        {{ playerHealth }}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" :style="healthBarStyle(monsterHealth)">
                        {{ monsterHealth }}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="newGame">
            <div class="small-12 columns">
                <button id="start-game" @click="startNewGame">START NEW GAME</button>
            </div>
        </section>
        <section class="row controls" v-if="!newGame">
            <div class="small-12 columns">
                <button id="attack" @click="calculateDamage(), checkGameState">ATTACK</button>
                <button id="special-attack" @click="calculateSpecialDamage(), checkGameState">SPECIAL ATTACK</button>
                <button id="heal" @click="healPlayer(), checkGameState">HEAL</button>
                <button id="give-up" @click="newGame = true">GIVE UP</button>
            </div>
        </section>
        <section class="row log" v-if="!newGame">
            <div class="small-12 columns">
                <ul>
                    <li v-for="event in events">
                        <p v-if="event['PlayerDamage']" style="background: rgba(102, 102, 228, 0.719); color: #fff; padding: 5px 0;">Player hits Monster for {{ event['PlayerDamage'] }}</p>
                        <p v-if="event['MonsterDamage']" style="background: rgb(235, 103, 103); color: #fff; padding: 5px 0;">Monster hits Player for {{ event['MonsterDamage'] }}</p>
                        <p v-if="event['PlayerHeal']" style="background: rgb(124, 231, 124); color: #fff; padding: 5px 0;">Player Heals himself for {{ event['PlayerHeal'] }}</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <script src="app.js"></script>
</body>

</html>